# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Additional files 
**/.terraform
**/terraform.tfstate*
**/*.auto.tfvars
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
!tests/**/terraform.tfvars
**/__pycache__
**/.pytest_cache
**/.test.lock
.idea
.vscode
backend.tf
backend-config.hcl
credentials.json
key.json
terraform-ls.tf
bundle.zip
.DS_Store
**/packer_cache
**/*.pkrvars.hcl
fixture_*
env/
